@import url('https://fonts.googleapis.com/css2? keluarga= Croissant+Satu &family= Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900 & display=swap');

body {
    font-family: 'Croissant One', cursive;
    padding: 0;
    margin: 0;
    height: 100vh;

    /* scrolling */
    overflow-x: hidden ;

    background-color: rgb(219, 156, 216);
    

    background-image: url(e.jpg);

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;


    /* tata letak flexbox */

    display: flex;
    align-items: center;
    flex-direction: column;

    
 
    
}

.container{
    width: 91%;
    max-width: 680px;
    margin: 20px;
    padding: 50px 0px 100px 0px;


    display: flex;
    align-items: center;
    flex-direction: column;

}

.img-container  img{ 
   width: 250px;
   border-radius: 25%;
  

}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;

    color: black;
} 

.display-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40%;

    color: aquamarine;
}

.link-item {
    width: 500px;
    height: 56px;
    margin: 20px;
    border-radius: 15px;

    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: rgb(185, 52, 103);

    display: flex;
    justify-content: space-between;

}

.icon {
    margin: 3px 8px;
    width: 44px;
    height: 44px;
}
.link-item p{
    margin-right: 60px;
}

